<header class="masthead">
  <div class="content-width">
    <h1 class="masthead-heading">Tweetful</h1>
    <p class="masthead-intro">Making The Internet a Little More Thoughtful</p>
  </div>
</header>
<div class="info-container">
  <div class="content-width">
      <section class="info">  
        <header class="info-header">
          <h2 class="info-heading">Peter Lonestar</h2>
          <p class="info-subheading">Founder</p>
        </header>
        <p>
        Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.
        </p>
      </section>

      <section class="info">  
        <header class="info-header">
          <h2 class="info-heading">Bill Billerson</h2>
          <p class="info-subheading">CFO</p>
        </header>
        <p>Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Sed posuere consetetur est at labortis.</p>
      </section>

      <section class="info">  
        <header class="info-header">
          <h2 class="info-heading">You!</h2>
          <p class="info-subheading">CTO</p>
        </header>
        <p>
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        </p>
      </section>
    </div>
  </div>
<footer>
  <div class="content-width">
    Contact us: <span>admin@tweetful.io</span>
  </div>
</footer>